div.home-div {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.card-container {

    height: fit-content;
    width: fit-content;

}

div.log-in-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12%;
}

div.sign-up{
    height: fit-content;
    width: fit-content;
}