<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="../Media/calidad-del-aire.png" alt="" width="32" height="32" class="d-inline-block align-text-top">
                Inicio
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Datos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Aviso</a></li>
                            <li><a class="dropdown-item" href="#">Medidas del aire</a></li>
                            <li><a class="dropdown-item" href="#">Alerta O3</a></li>
                            <li><a class="dropdown-item" href="#">Alerta No2</a></li>
                            <li><a class="dropdown-item" href="#">Alerta Pm2_5</a></li>
                            <li><a class="dropdown-item" href="#">Alerta Pm10</a></li>
                            <li><a class="dropdown-item" href="#">Media cada 8 horas</a></li>
                            <li><a class="dropdown-item" href="#">Media diaria</a></li>
                            <li><a class="dropdown-item" href="#">Media cada hora</a></li>
                            <li><a class="dropdown-item" href="#">Riesgos</a></li>
                            <li><a class="dropdown-item" href="#">Advertencia</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid justify-content-end">
            <button class="btn btn-outline-light me-2 "
                style="background-color: #e997a0; text-decoration-color: white; outline-color: #e997a0;"
                type="button">Cerrar sesion</button>
        </div>
    </nav>

    <div class="home-div">
        <div class="card-container">
            <div class="card mb-3">
                <img src="../Media/cielo.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Datos de sensores de la calidad del aire.</h5>
                    <p class="card-text">Esta pagina esta hecha con el objetivo de filtrar datos enviados por los
                        sensores de calidad del aire en Albacete.</p>
                </div>
            </div>
            <div class="list-group" style="padding-top: 10px; width: auto;">
                <a href="#" class="list-group-item list-group-item-action">Aviso</a>
                <a href="#" class="list-group-item list-group-item-action">Medidas del aire</a>
                <a href="#" class="list-group-item list-group-item-action">Alerta O3</a>
                <a href="#" class="list-group-item list-group-item-action">Alerta No2</a>
                <a href="#" class="list-group-item list-group-item-action">Alerta Pm2_5</a>
                <a href="#" class="list-group-item list-group-item-action">Alerta Pm10</a>
                <a href="#" class="list-group-item list-group-item-action">Media cada 8 horas</a>
                <a href="#" class="list-group-item list-group-item-action">Media diaria</a>
                <a href="#" class="list-group-item list-group-item-action">Media cada hora</a>
                <a href="#" class="list-group-item list-group-item-action">Riesgos</a>
                <a href="#" class="list-group-item list-group-item-action">Advertencias</a>
            </div>
        </div>
    </div>

</body>

</html>